.viz {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.main-title {
  padding-left: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  position: relative;
  border: 1px solid #eaeaea;
}

.tick line {
  stroke-width: 1px;
  color: #eaeaea;
}

.domain {
  stroke-width: 0px;
  color: #eaeaea;
}

.x-axis-label { 
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  fill: #888888;
}

.axis-label { 
  font-size: 1.1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  fill: #888888;
}

svg text {
  font-size: 0.8em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  fill: #989898;
}


.tooltip {
  opacity: 0;
  background-color: #fafafa;
  position: absolute;
  margin: 5px;
  padding: 15px;
  padding-top: 10px;
  pointer-events: none;
  opacity: 0;
  position: absolute;
  top: -18px;
  left: 0;
  border: 1px solid #eaeaea;
  border-bottom: 3px solid #232323;
  transition: all 0.1s ease-out;
}

.tooltip-circle {
  font-size: 1.5em;
}

.tooltip-country {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 1.25em;
  margin-bottom: 8px;
}

.tooltip-country-support {
  font-size: 0.6em;
  font-weight: 300;
  font-style: italic;
}

#tt-support-text {
  font-weight: 500;
}

.tooltip-total-score,
.tooltip-env-score {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 0.8em;
}

#tt-total-text,
#tt-env-text {
  text-align: left;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1em;
}

.dot-highlight {
  fill-opacity: 100%;
  pointer-events: none;
}

.dot {
  fill-opacity: 50%;
  stroke-width: 0.75px;
}

.scatter-bound {
  background-color: #eaeaea;
}
